.App{
  display: flex;
  justify-self: center;
  align-items: center;
  flex-direction: column;  
}

.App input{
  margin-top: 20px;
  width: 300px;
  height: 30px;
  padding: 8px;
  
}

.my-custom-scrollbar {
  position: relative;
  height: 380px;
  width: 400px;
  overflow: auto;
  margin-top: 32px;
}

.table-wrapper-scroll-y {
  display: block;
}

.out{
  margin-top: 20px;
  height: 0px;
  width: 400px; 
}
